<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Virtusa Project</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="row p-5">
    <div class="col-md-12">
        <mat-card class="text-center p-5 m-5">
            <img class="m-3" src="./assets/images/logo.jpg" width="10%" />
            <h5 class="pt-3">Login to your Account</h5>
            <mat-card-content class="p-3" style="display: inline-block;">
                <form>
                    <table cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Username" [(ngModel)]="username" name="username"
                                        required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                        name="password" required>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" color="primary">Login</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>