<mat-toolbar color="primary">
    <span>Virtusa Project</span>
    <span class="toolbar-spacer"></span>
    <button mat-button (click)="openDashboard()">Dashboard</button>
    <button mat-button (click)="openDashboard()">Register Parcel</button>
    <button mat-button (click)="openLogin()">Sign Out</button>
  </mat-toolbar>
<div class="row text-center m-5" style="display: block">
    <h4>We need a few details to confirm the order. Please enter the city details and weight to view the summary.</h4>
</div>
<div class="row m-2">
    <div class="col-md-3 p-3">
        <mat-card class="p-3" style="height: 100%">
            <mat-card-content>
                <form class="p-3">
                    <table cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Source Address" [(ngModel)]="source_address" type="text" name="source_address" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Source City" [(ngModel)]="source_city" type="text" name="source_city" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Destination Address" [(ngModel)]="destination_address" type="text" name="destination_address" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Destination City" [(ngModel)]="destination_city" type="text" (change)="onDeliveryChange($event.target.value)" name="destination_city" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Phone Number" [(ngModel)]="phone_number" type="number" name="phone_number" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 300px">
                                    <input matInput placeholder="Weight" [(ngModel)]="weight" type="number" name="weight" (input)="onWeightChange($event.target.value)" required>
                                </mat-form-field>
                            </td>
                        </tr>

                    </table>
                </form>
                <mat-spinner [style.display]="showSpinner? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 p-3">
        <agm-map style="height:100%" [latitude]='11.2503696' [longitude]='76.9365486' [zoom]='9' [zoomControl]="false">
            <agm-direction [origin]="source_city" [destination]="destination_city"></agm-direction>
        </agm-map>
    </div>
    <div class="col-md-3 p-3">
        <mat-card class="p-3" style="height: 100%">
            <mat-card-content>
                <h6 class="p-3 pb-5 text-center">PARCEL ORDER SUMMARY</h6>
                <div class="row pl-5 pb-3">
                    <h6>NAME: </h6><span class="pl-1">{{name}}</span>
                </div>
                <h6 class="row pl-5">DISPATCH ADDRESS:</h6>
                <span class="row pl-5 pb-3">{{source_address}}<br>{{source_city}}</span>
                <h6 class="row pl-5">DELIVERY ADDRESS:</h6>
                <span class="row pl-5 pb-3">{{destination_address}}<br>{{destination_city}}</span>
                <div class="row pl-5 pb-3">
                    <h6>TOTAL DISTANCE: </h6><span class="pl-1">{{total_distance}}</span><span class="pl-1">{{distance_posttext}}</span>
                </div>
                <div class="row pl-5 pb-3">
                    <h6>TOTAL WEIGHT: </h6><span class="pl-1">{{weight}}</span><span class="pl-1">{{weight_posttext}}</span>
                </div>
                <div class="row pl-5 pb-3">
                    <h6>TOTAL COST: </h6><span class="pl-1">{{cost_pretext}}<strong>{{cost}}</strong></span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row m-5 text-center" style="display:block">
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Confirm & Place Order</button>
    </mat-card-actions>
</div>